<footer>
    <p class="text-lg py-10 w-full flex justify-center gap-2">
        Website created by 
        <a href="https://github.com/BanKinf" target="_blank" rel="noopener noreferrer" class="text-blue-800 hover:scale-95 transition-transform duration-200">
            @BanKing
        </a> â¤
    </p>
</footer>