<title>Aurigas WebSite</title>
<meta name="description" content="Descubre a Aurigas, streamer & youtuber de Minecraft enfocado en proyectos técnicos e innovadores. Conoce en detalle su contenido y las últimas novedades de sus iniciativas en este sitio web.">

<!-- Facebook, Discord, Skype Meta Tags -->
<meta property="og:url" content="https://aurigas.es">
<meta property="og:type" content="website">
<meta property="og:title" content="Aurigas WebSite">
<meta property="og:description" content="Descubre a Aurigas, streamer & youtuber de Minecraft enfocado en proyectos técnicos e innovadores. Conoce en detalle su contenido y las últimas novedades de sus iniciativas en este sitio web.">
<meta property="og:image" content="/images/aurigas-image.webp">
<meta property="og:image:alt" content="Aurigas WebSite">
<meta property="og:site_name" content="Aurigas WebSite">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="https://aurigas.es/">
<meta property="twitter:url" content="https://aurigas.es">
<meta name="twitter:title" content="Aurigas WebSite">
<meta name="twitter:description" content="Descubre a Aurigas, streamer & youtuber de Minecraft enfocado en proyectos técnicos e innovadores. Conoce en detalle su contenido y las últimas novedades de sus iniciativas en este sitio web.">
<meta name="twitter:image" content="/images/aurigas-image.webp">
<meta name="twitter:image:alt" content="Aurigas WebSite">
<meta name="twitter:creator" content="@_Aurigas_">