<body class="flex flex-col items-center justify-center text-white min-h-screen">
    <div class="w-full max-w-6xl text-center">
        <div class="flex flex-col items-center gap-4 md:gap-6">
            <h2 class="text-xl md:text-2xl lg:text-4xl mb-4 md:mb-6 font-ConcertOne">Proximamente...</h2>
            <img src="/images/emotes/auri-vanilla.webp" alt="Aurigas Logo" class="w-32 md:w-52 lg:w-48" />
        </div>
    </div>
</body>